@import "styles/config";

.breadcrumbs {
  @include title-text(1.7rem);
  display: flex;
  align-items: center;
  background-color: var(--bg-card-color);
  margin: 4rem 0 2rem 0;
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
  .link {
    padding: 1rem 1rem 1rem 0;
    border-radius: 0.5rem;
    &:after {
      content: "\203A";
      padding-right: 1.5rem;
    }
    &:last-child {
      cursor: pointer;
      &::after {
        display: none;
      }
    }
  }
}
