@import "styles/config";

.boxContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .arrowRight {
    position: absolute;
    z-index: 10000;
    top: calc(50% - 1.5rem);
    right: 3rem;
    font-size: 3rem;
    color: var(--heading-color);
    user-select: none;
  }
  .arrowLeft {
    position: absolute;
    z-index: 10000;
    top: calc(50% - 1.5rem);
    left: 3rem;
    font-size: 3rem;
    color: var(--heading-color);
    user-select: none;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    z-index: 0;
    overflow: hidden;
    backdrop-filter: blur(5px);
    width: 50vw;
    max-width: 500px;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    text-align: center;
    animation: move 0.2s linear;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: -105%;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 150%;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.4);
    }

    .icon {
      font-size: 6rem;
      color: var(--heading-color);
    }

    .content {
      h3 {
        @include title-text(2rem);
        padding-bottom: 1.5rem;
      }
      p {
        @include grap-text(1.5rem);
      }
    }
  }
}

@keyframes move {
  0% {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    opacity: 0;
  }
  100% {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    opacity: 1;
  }
}
