@import "config";

:root {
  --font-color: #555;
  --heading-color: #333;
  --bg-color: #f9f9f9;
  --bg-secondary-color: #fff;
  --bg-primary-color: #e5e5e5;
  --bg-card-color: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
  --menu-border: 0.1rem solid rgba(61, 61, 61, 0.15);
  --main-color: #fe0000;
  --yellow-color: rgb(255, 195, 86);
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  --max-width: 120rem;
  --font-family: IRANSans, Arial, Helvetica, sans-serif;
}
[data-theme="dark"] {
  --font-color: #bbbbbb;
  --heading-color: #e8e8e8;
  --bg-color: #212121;
  --bg-secondary-color: #191919;
  --bg-primary-color: #2e2e2e;
  --bg-card-color: #424242;
  --border: 0.1rem solid rgba(255, 255, 255, 0.2);
  --menu-border: 0.1rem solid rgba(205, 205, 205, 0.07);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color);
}
section {
  padding: 2rem;
  padding-top: 11rem;
}
i,
svg {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: unset;
}

//utilities
.wrapper {
  max-width: var(--max-width);
  margin-inline: auto;
  font-family: var(--font-family);
}
.heading {
  margin-bottom: 5rem;
  padding-right: 4rem;
  position: relative;

  &::after,
  &::before,
  .circle {
    content: "";
    position: absolute;
    top: 30px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 195, 86);
  }
  &::before {
    top: 10px;
    width: 10px;
    height: 10px;
  }

  .circle {
    top: 20px;
    right: -5px;
    width: 14px;
    height: 14px;
    background-color: #c3b091;
  }

  h2 {
    @include title-text(3rem);
    padding-bottom: 1rem;
  }
  p {
    @include grap-text(1.5rem);
    text-decoration: underline var(--main-color) 1px;
  }
}
.btn {
  font-family: var(--font-family);
  border-radius: 24px;
  text-align: center;
  padding: 10px 32px;
  background-color: rgb(255, 195, 86);
  color: rgb(25, 24, 23);
  font-size: 1.5rem;
  font-weight: bold;
  transition: all 0.1s ease;

  &:hover {
    background-color: rgb(252, 250, 238);
    border-color: rgb(235, 232, 229);
  }
}

//Scrollbar
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 1rem;
}

//media queries
@media (max-width: 991px) {
  html {
    font-size: 58%;
  }
}
@media (max-width: 768px) {
  section {
    padding-top: 13rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
