.light {
  --font-color: #555;
  --heading-color: #333;
  --bg-color: #f9f9f9;
  --bg-secondary-color: #fff;
  --bg-primary-color: #e5e5e5;
  --bg-card-color: #fff;
  --border: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.loginPage {
  font-family: var(--font-family);
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #fff;

  .loginContainer {
    background-color: #fff;
    position: relative;
    padding: 2rem;
    min-width: 40rem;
    text-align: center;
  }
}
